pandas
matplotlib
kaggle
seaborn
textblob
nltk
scikit-learn
numpy
scipy
wordcloud
tensorflow
transformers
tf-keras
datasets
torch --index-url https://download.pythorch.org/whl/cu124
torchvision --index-url https://download.pythorch.org/whl/cu124
torchaudio --index-url https://download.pythorch.org/whl/cu124
accelerate